<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loja Virtual</title>
    <%- include("./styleIndex.ejs") %>
  </head>
  <body>
    <h1>Página Inicial</h1>
    <ul>
      <li>
        <a href="/produto"><i class="fa-solid fa-link"></i> Produtos</a>
      </li>
      <li>
        <a href="/categorias"><i class="fa-solid fa-link"></i> Categoria</a>
      </li>
    </ul>

    <script
      src="https://kit.fontawesome.com/09c2a18d79.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
